<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: #F5F5F5;">
    <div style="width: 200px; margin: 100px auto;" id="entelect-logo"></div>
  </body>
  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/lottie.js" type="text/javascript"></script>
  <script src="/javascripts/index.js" type="text/javascript"></script>
</html>
